.separador {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.separador strong {
    color: #6278F7;
    font-size: 40px;
    font-weight: 400;
    font-family: Prata;
    border: #6278F7;
    border-bottom: 4px solid;
    padding-bottom: 16px;
}