.time {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.time h3 {
    font-family: Prata;
    font-size: 32px;
    font-weight: 400;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}